* {
    margin: 0;
}

@media(max-width:480px) {}

@media(min-width:481px) and (max-width:768px) {}

@media(min-width:769px) and (max-width:1279px) {}

@media(min-width:1280px) {

    /* cabeçalho */
    header {
        background-color: blue;
    }

    header ul {
        display: flex;
        align-items: center;
    }

    header ul li {
        color: white;
        font-weight: bold;
    }
}